<launch>
    <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="2 0 0 0 0 0 /xtion_rgb_frame /xtion_rgb_optical_frame 100"/>
    <rosparam file="$(find par_a3)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" />


    <!-- <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="2.2333 0.027645 1.1669 -0.594356 0.61427 -0.37769 /xtion_rgb_frame /xtion_rgb_optical_frame 100"/>
    <rosparam file="$(find par_a3)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" /> -->
    <!-- Load Costmap Parameters -->
    <!-- <rosparam file="$(find par_a3)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" /> -->

    <!-- Costmap Node -->
    <!-- <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
        <rosparam command="load" file="$(find par_a3)/params/minimal.yaml"/>
    </node> -->
</launch>
