<launch>
<!--
  This node is for turning the head scan to a laser scan, provides head collision if any 
-->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/xtion/depth_registered/points"/>
      <remap from="scan" to="/camera/scan" />
      <rosparam>
        target_frame: xtion_depth_frame
        transform_tolerance: 0.01
        min_height: 0.5
        max_height: 2.0
        
        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.01
        scan_time: 0.033
        range_min: 0.0
        range_max: 10
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>

    <node pkg="par_a3" type="move_amcl.py" name="move_amcl" output="screen"></node>
    <!--
      This node is too publish the laser scan to the 2d cost map
    -->
  <rosparam file="$(find par_a3)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" />
</launch>