<launch>    
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/throttle_filtering_points/filtered_points"/>
      <remap from="scan" to="/camera/scan" />
      <rosparam>
        target_frame: map
        transform_tolerance: 0.01
        min_height: 0.5
        max_height: 1.0
        
        angle_min: -3.14159
        angle_max: 3.14159
        angle_increment: 0.01
        scan_time: 0.3333
        range_min: 0.4
        range_max: 6.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>
</launch>