<launch>

  <arg name="verbose_publishing" default="true"/> <!-- If false the node will only publish when there is some face detected -->
  <arg name="rate"               default="5"/>    <!-- Rate at which the node will look for faces and publish -->
  <arg name="image_topic"        default="/xtion/rgb/image_raw"/>

  <node name="pal_face" pkg="pal_face_detector_opencv" type="pal_face_detector_opencv" args="$(arg verbose_publishing) $(arg rate)" output="screen">
    <remap from="/pal_face/image" to="$(arg image_topic)"/>
    <rosparam>
      processing_img_width:  320
      processing_img_height: 240
      rel_min_eye_dist:      0.02  
      rel_max_eye_dist:      0.2
    </rosparam>
  </node>

<!--
  This node is for turning the head scan to a laser scan, provides head collision if any 
-->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/xtion/depth_registered/points"/>
      <remap from="scan" to="/camera/scan" />
      <rosparam>
        target_frame: xtion_depth_frame
        transform_tolerance: 0.01
        min_height: 0.5
        max_height: 2.0
        
        angle_min: -1.5708
        angle_max: 1.5708
        angle_increment: 0.01
        scan_time: 0.033
        range_min: 0.0
        range_max: 10
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>

    <node pkg="par_a3" type="move_amcl.py" name="move_amcl" output="screen"></node>
    <!--
      This node is too publish the laser scan to the 2d cost map
    -->
  <rosparam file="$(find par_a3)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" />
  <group ns="pointcloud_costmap">
    <node pkg="costmap_2d" type="costmap_2d_node" name="costmap_node" output="screen">
      <rosparam command="load" file="$(find TiagoTourGuide)/config/costmap_params.yaml"/>
    </node>
  </group>
</launch>